CompileFlags:
  Add: [
  -std=c++20, -I/usr/include/python3.12, -I/home/mudtjn/base/lib/python3.12/site-packages/pybind11/include, -I/usr/src/googletest/googletest/include, 
  -I/usr/src/gtest/include,  
  ]
  Remove: [-std=c++17, -std=c++14] 
